doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title 田晓杰的博客
		link(rel="stylesheet", href="asset/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="asset/css/style.css")
	body
		include ../components/navigation.jade
		section.section.sectionA
			.section_body
				h3 TXJ
				p
				| Dream no matter how fuzzy, always lurking in our heart, our mood is never quiet, until the dream become a reality.
				p  梦想无论怎样模糊，总潜伏在我们心底，使我们的心境永远得不到宁静，直到这些梦想成为事实。
		section.section.sectionB
			.section_body
				.container
					.side
						.avatar
							img(src="asset/images/avatar.jpg", alt="田晓杰")
						.uniform-title
							span About me
					.text
						h3 Im a UI designer.
						p 现在的我虽然还是菜鸟，固有很多不足需要弥补。我一直深信不疑：有选择都坚持将成就下一个完美。我要不停都进步，因为我不满足，即使我是一只蜗牛，也要坚信我前进都脚步。
		section.section.section-skill
			.section_body
				.container
					.skill-list
						.skill-item
							.skill-icon PS
							.count 90%
						.skill-item
							.skill-icon AI
							.count 90%
						.skill-item
							.skill-icon DW
							.count 90%
						.skill-item
							.skill-icon FL
							.count 90%
					.uniform-title
						span What can i do
		section.section.section-aboutme
			.section_body
				.container
					.text
						p 姓  名 ：Emily
						p 性  别 ：女
						p 性  格 ：典型的宅女 
						p 未来期望 ：成为禽兽般的射鸡湿，<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;走上设计这条不归路 。
						.uniform-title
							span About me
					.mouse
		section.section.section-design
			.section_body
				.container
					.design-list
						.design-item
							img(src="asset/images/item-1.jpg", alt="")
						.design-item
							img(src="asset/images/item-2.jpg", alt="")
						.design-item
							img(src="asset/images/item-3.jpg", alt="")
						.design-item
							img(src="asset/images/item-4.jpg", alt="")
						.design-item
							img(src="asset/images/item-5.jpg", alt="")
						.design-item
							img(src="asset/images/item-6.jpg", alt="")
					.uniform-title
						span Desigen show
		section.sectionC
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
		srcipt(type="text/javascript", src="asset/bootstrap/js/bootstrap.min.js")