.navbar {
  margin-bottom: 0;
  padding: 25px 0;
  border: none;
  border-radius: 0;
  background: #fff;
}
.navbar li a {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.navbar li.active a {
  background: transparent !important;
  color: #e20505 !important;
}
.navbar .navbar-brand {
  padding: 15px 30px;
  background: #e00;
  color: #fff;
}
body {
  font-family: "Microsoft Yahei";
}
@keyframes rond {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rond {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.animation-rond {
  -webkit-animation: rond 3s infinite linear;
  animation: rond 3s infinite linear;
}
.section {
  display: table;
  width: 100%;
}
.section .section_body {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.uniform-title {
  position: relative;
  padding-top: 30px;
  line-height: 60px;
  text-align: center;
  font-family: Arial;
}
.uniform-title span {
  position: relative;
  display: block;
  z-index: 3;
  font-size: 30px;
}
.uniform-title span:first-letter {
  font-size: 2em;
}
.uniform-title:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 70px;
  left: 0;
  background: #aaa;
  transform: rotate(-35deg);
}
.uniform-title:after {
  content: ' ';
  position: absolute;
  width: 50px;
  height: 40px;
  top: 50px;
  left: 50%;
  margin-left: -25px;
  background: #fff;
}
/****/
.sectionA {
  text-align: center;
  height: 500px;
  background-image: url(../images/train_road.jpg);
  background-position: center;
}
.sectionA h3 {
  color: #fff;
  font-size: 100px;
}
.sectionA p {
  color: #fff;
  font-size: 14px;
}
/****/
/****/
.sectionB {
  height: 500px;
}
.sectionB .side {
  float: left;
  width: 200px;
}
.sectionB .avatar {
  width: 200px;
  border-radius: 100%;
  border: 2px solid #ececec;
  overflow: hidden;
}
.sectionB .text {
  float: right;
  width: 500px;
  padding-top: 60px;
}
.sectionB .text h3 {
  margin-bottom: 30px;
}
.section-skill {
  background: url(../images/red-bj.jpg) fixed repeat #ff0000;
}
.section-skill .container {
  position: relative;
  padding: 100px 0 180px;
}
.section-skill .skill-list {
  height: 200px;
}
.section-skill .skill-item {
  float: left;
  width: 25%;
}
.section-skill .skill-item .count {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.section-skill .skill-icon {
  width: 150px;
  height: 150px;
  margin: auto;
  background: url(../images/skin.png) 0 0;
  text-align: center;
  line-height: 150px;
  font-size: 48px;
  font-family: "宋体";
  color: #db3d44;
}
.section-skill .skill-icon:hover {
  cursor: default;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.section-skill .uniform-title {
  position: absolute;
  right: 10px;
  bottom: 50px;
  color: #fff;
}
.section-skill .uniform-title:before {
  background: #fff;
}
.section-skill .uniform-title:after {
  background: url(../images/red-bj.jpg) fixed repeat;
}
.section-aboutme {
  height: 400px;
}
.section-aboutme .mouse {
  float: right;
  width: 430px;
  height: 290px;
  background: url(../images/mouse.png) no-repeat;
}
.section-aboutme .text {
  float: left;
  width: 300px;
  font-size: 14px;
  color: #555;
}
.section-aboutme .text .uniform-title {
  width: 200px;
  margin-top: 50px;
}
.section-design {
  height: 450px;
  background: url(../images/dark-bj.jpg) fixed repeat #3a3c3b;
}
.section-design .container {
  position: relative;
}
.section-design .design-item {
  width: 117px;
  height: 117px;
  margin: 0 3px 3px 0;
  float: left;
  background: #333;
}
.section-design .design-item:nth-child(1),
.section-design .design-item:nth-child(6) {
  float: none;
  clear: left;
  margin-left: 119px;
}
.section-design .uniform-title {
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: #fff;
}
.section-design .uniform-title:before {
  background: #fff;
}
.section-design .uniform-title:after {
  background: url(../images/dark-bj.jpg) fixed repeat #3a3c3b;
}
